{% extends "base.html" %}

{% block app_content %}
    <h1>What tags we have</h1>
    <table>
        <tr><th>Id</th><th>Name</th></tr>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>
                    <form action="{{ url_for('.delete_tag', id=tag.id) }}" method="POST">
                        {{ delete_form.submit() }}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block app_content_right %}
    <h1>Add new tag</h1>

    <form action="" method="POST">
        {{ add_form.hidden_tag() }}
        <p>
            {{ add_form.name.label }}{{ add_form.name(size = 25) }}
        </p>
        <p>
            {{ add_form.submit() }}
        </p>
    </form>
{% endblock %}