{% extends "base.html" %}

{% block app_content_middle %}
    <h1>What nalewki we have</h1>
    <table>
        <tr><th>Id</th><th>Name</th><th>When</th></tr>
        {% for nalewka in nalewki %}
            <tr>
                <td>{{ nalewka.name }}</td>
                <td>{{ nalewka.tags }}</td>
                <td>{{ nalewka.children }}</td>
            </tr>
        {% endfor %}
        
            <tr>
                <td>???</td>
                <td>Krupnik Wytrawny</td>
                <td>07/14/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Limoncello</td>
                <td>07/16/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Strawberry 1</td>
                <td>07/17/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Strawberry 2</td>
                <td>07/14/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Cherry</td>
                <td>07/19/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Raspberry</td>
                <td>07/17/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Apricot</td>
                <td>10/25/2018</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Apple</td>
                <td>04/20/2019</td>
            </tr>
            <tr>
                <td>2/1/2020</td>
                <td>Quince</td>
                <td>02/15/2020</td>
            </tr>
            <tr>
                <td>1/2019</td>
                <td>Cloves tincture</td>
                <td>12/16/2019</td>
            </tr>
            <tr>
                <td>2/2020</td>
                <td>Vanilla tincture</td>
                <td>02/23/2020</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Cardamome tincture</td>
                <td>12/18/2019</td>
            </tr>
            <tr>
                <td>1/2020</td>
                <td>Cinnamon tincture</td>
                <td>01/07/2020</td>
            </tr>
            <tr>
                <td>1/1/2020 & 1/2/2020</td>
                <td>Cramberry</td>
                <td>02/09/2020</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Miodula</td>
                <td>???</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Grapefruit</td>
                <td>03/21/2020</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Mint</td>
                <td>03/10/2020</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Farmaceutow Lemon</td>
                <td>???</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Grapefruit zest tincture</td>
                <td>???</td>
            </tr>
            <tr>
                <td>4/1/2020</td>
                <td>Ajerkoniak</td>
                <td>04/02/2020</td>
            </tr>
            <tr>
                <td>???</td>
                <td>Porterowka tincture</td>
                <td>???</td>
            </tr>
    </table>
{% endblock %}

{% block app_content_right %}
    <h1>Placeholder</h1>
{% endblock %}