body {
    background-color: #ffffff;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color:#000000;
    box-sizing: border-box;
}

#header {
    border-bottom: 1px solid #eee;
    text-align: center;
    float: initial;
}

#footer {
    border-top: 1px solid #eee;
    text-align: center;
    float: initial;
}

#content {
    display: flex;
    float: initial;
}

#left {
    width: 50%;
    float: left;
}

#middle {
    width: 30%;
    float: left;
}

#right {
    width: 20%;
    float: left;
}

table.calendar {
    border: none;
    border-spacing: 2px;
}

td.calendar {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid #BBBABA;
    text-align: right;
    vertical-align: top;
    font-size: 25pt;
    line-height: 25pt;
}

td.calendar_event {
    text-align: center;
    vertical-align: middle;
    font-size: 50pt;
}

td.calendar_holiday {
    background-color: #BBBABA;
}

td.calendar_other_month {
    color: #BBBABA;
}
