<table class="calendar">
    {% for week in cal %}
        <tr>
            {% for day in week %}
                {% if current_date.month != day.month %}
                    <td class="calendar calendar_other_month">{{ day.day }}</td>
                {% elif day.isoweekday() > 5 or day in holidays %}
                    {% if day in events_this_month %}
                        <td class="calendar calendar_holiday calendar_event">{{ day.day }}</td>
                    {% else %}
                        <td class="calendar calendar_holiday">{{ day.day }}</td>
                    {% endif %}
                {% else %}
                    {% if day in events_this_month %}
                        <td class="calendar calendar_event">{{ day.day }}</td>
                    {% else %}
                        <td class="calendar ">{{ day.day }}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

